@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

body {
    background-color: #EEEEEE;
}

.container {
    width: 80%;
    max-width:800px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.logo {
    max-width: 250px;
    
}

ul {
    display: flex;
    gap:15px;
    justify-content: space-around;
}


.nav li {
    margin-left: 30px;
}

a {
    color: rgb(57, 54, 54);
    font-size: 21px;
}

.hero {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.input-text {
    text-align: center;
    margin-bottom: 21px;
}
.input-text input {
    padding: 8px;
    width: 350px;
}

.btn button{
    padding: 12px 24px;
    background-color: #F1C40F;
    border: none;
    font-size: 21px;
}

.service {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

}

.icon {
    color: #F1C40F;
    font-size: 46px;
}

.icon-1 {
grid-column: 1 / span 1;
}

.icon__text-1 {
    grid-column: 2 / span 11;
}

.icon-2 {
    grid-column: 1 / span 1;
    }
    
    .icon__text-2 {
        grid-column: 2 / span 11;
    }

    .icon-3 {
        grid-column: 1 / span 1;
        }
        
        .icon__text-3 {
            grid-column: 2 / span 11;
        }

        .video {
            text-align: center;
            margin: 60px 0;
        }

        .pricing {
            display: flex;
            gap:20px;
        }

        .card {
            width: 100%;
            border: 1px solid gray;
            text-align: center;
        }

        .card-p {
            font-size: 19px;
            background-color: #DDDDDD;
            padding: 15px 0;
            text-align: center;

        }

        .card h2 {
            font-size: 26px;
            margin: 16px 0;
        }

 .card li {
    list-style-type: none;
    margin-bottom: 12px;
 }

 .card button {
    background-color: #F1C40F;
    padding: 12px 24px;
    border: none;
    margin: 16px 0;
 }

 footer {
    margin-top: 40px;
    background-color: #DDDDDD;
    padding: 30px 0;text-align: left;
 }
 .nav-footer {
    justify-content: flex-end;
    font-size: 16px;
    padding: 0 16px;
 }

 footer p {
    text-align: right;
    margin-top: 10px;
    padding: 0 16px;
    color: gray;
 }